<button *ngIf="!isFormOn" (click)="onBackButtonClick()" class="back-button">
  Back
</button>
<div class="title-container">
  <h1>Stages Of Life</h1>
</div>

<button *ngIf="!isFormOn" (click)="onNextButtonClick()" class="next-button">
  Next
</button>

<div class="stages-container">
  <div *ngIf="isFormOn" class="form-container">
    <form
      [formGroup]="stageInfoForm"
      class="form-fields-container"
      (ngSubmit)="onSubmit()"
    >
      <div class="section-title">
        <p>Stage Info</p>
      </div>
      <div class="field-container">
        <label
          >Stage's Name: <span class="required-label">(Required)</span></label
        >
        <input
          type="text"
          required
          formControlName="name"
          (focus)="clearControlValue(stageInfoForm, 'name')"
          (blur)="displayZero(stageInfoForm, 'name')"
        />
      </div>
      <div class="field-container">
        <label
          >Description: <span class="required-label">(Required)</span></label
        >
        <input
          type="text"
          required
          formControlName="description"
          (focus)="clearControlValue(stageInfoForm, 'description')"
          (blur)="displayZero(stageInfoForm, 'description')"
        />
      </div>
      <div class="length-container">
        <div class="field-container">
          <label>From Age: </label>
          <input
            class="fixed-input"
            type="number"
            readonly
            required
            formControlName="fromAge"
          />
        </div>
        <div class="field-container">
          <label>To Age: <span class="required-label">(Required)</span></label>
          <input
            type="number"
            required
            formControlName="toAge"
            (focus)="clearControlValue(stageInfoForm, 'toAge')"
            (blur)="displayZero(stageInfoForm, 'toAge')"
          />
        </div>
      </div>

      <div class="section-title">
        <p>Income Per Year</p>
      </div>
      <div class="revenue-container" formGroupName="revenue">
        <div class="length-container">
          <div class="field-container">
            <label>Net Salary:</label>
            <input
              type="number"
              formControlName="netSalary"
              (focus)="clearControlValue(revenueForm, 'netSalary')"
              (blur)="displayZero(revenueForm, 'netSalary')"
            />
          </div>
          <div class="field-container">
            <label>Capital Assets:</label>
            <input
              type="number"
              formControlName="capitalAssets"
              (focus)="clearControlValue(revenueForm, 'capitalAssets')"
              (blur)="displayZero(revenueForm, 'capitalAssets')"
            />
          </div>
        </div>

        <div class="length-container">
          <div class="field-container">
            <label>Passive Income:</label>
            <input
              type="number"
              formControlName="passiveIncome"
              (focus)="clearControlValue(revenueForm, 'passiveIncome')"
              (blur)="displayZero(revenueForm, 'passiveIncome')"
            />
          </div>
          <div class="field-container">
            <label>Occasional Income:</label>
            <input
              type="number"
              formControlName="occasionalIncome"
              (focus)="clearControlValue(revenueForm, 'occasionalIncome')"
              (blur)="displayZero(revenueForm, 'occasionalIncome')"
            />
          </div>
        </div>
        <div class="field-container">
          <label>Other Income:</label>
          <input
            type="number"
            formControlName="otherIncome"
            (focus)="clearControlValue(revenueForm, 'otherIncome')"
            (blur)="displayZero(revenueForm, 'otherIncome')"
          />
        </div>
      </div>

      <div class="section-title">
        <p>Expenses Per Year</p>
      </div>
      <div class="expense-container" formGroupName="expense">
        <div class="length-container">
          <div class="field-container">
            <label>Living Cost Per Month:</label>
            <input
              type="number"
              formControlName="livingCostPerMonth"
              (focus)="clearControlValue(expenseForm, 'livingCostPerMonth')"
              (blur)="displayZero(expenseForm, 'livingCostPerMonth')"
            />
          </div>
          <div class="field-container">
            <label>Dependents:</label>
            <input
              type="number"
              formControlName="dependents"
              (focus)="clearControlValue(expenseForm, 'dependents')"
              (blur)="displayZero(expenseForm, 'dependents')"
            />
          </div>
        </div>
        <div class="length-container">
          <div class="field-container">
            <label>Purchase Fund:</label>
            <input
              type="number"
              formControlName="purchaseFund"
              (focus)="clearControlValue(expenseForm, 'purchaseFund')"
              (blur)="displayZero(expenseForm, 'purchaseFund')"
            />
          </div>
          <div class="field-container">
            <label>Occasional Cost:</label>
            <input
              type="number"
              formControlName="occasionalCost"
              (focus)="clearControlValue(expenseForm, 'occasionalCost')"
              (blur)="displayZero(expenseForm, 'occasionalCost')"
            />
          </div>
        </div>
        <div class="length-container">
          <div class="field-container">
            <label>Maintenance Cost:</label>
            <input
              type="number"
              formControlName="maintenanceCost"
              (focus)="clearControlValue(expenseForm, 'maintenanceCost')"
              (blur)="displayZero(expenseForm, 'maintenanceCost')"
            />
          </div>
          <div class="field-container">
            <label>Interest And Repayment:</label>
            <input
              type="number"
              formControlName="interestAndRepayment"
              (focus)="clearControlValue(expenseForm, 'interestAndRepayment')"
              (blur)="displayZero(expenseForm, 'interestAndRepayment')"
            />
          </div>
        </div>
        <div class="field-container">
          <label>Other Expenses:</label>
          <input
            type="number"
            formControlName="otherExpenses"
            (focus)="clearControlValue(expenseForm, 'otherExpenses')"
            (blur)="displayZero(expenseForm, 'otherExpenses')"
          />
        </div>
      </div>

      <div class="button-group">
        <button class="submit-button" type="submit">Submit</button>
        <button type="button" class="cancel-button" (click)="closeForm()">
          Cancel
        </button>
      </div>
    </form>
  </div>
  <div class="button-container">
    <button *ngIf="!isFormOn" (click)="addStageForm()" class="add-stage-button">
      Add stage
    </button>
    <button (click)="onDeleteButtonClick()" class="delete-button">
      Delete all
    </button>
  </div>

  <div *ngFor="let stage of stages; let i = index" class="stage-item">
    <div class="button-container">
      <button (click)="editStageForm(stage)" class="edit-button">
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>
    </div>

    <div class="stage-info-container">
      <div class="stage-info-title">
        <div class="stage-info-name">{{ stage.name }}</div>
        <div style="font-style: italic; margin-bottom: 10px">
          {{ stage.description }}
        </div>
      </div>
      <div class="input-group">
        <label>Start age:</label>
        <input readonly type="number" [value]="stage.fromAge" />
      </div>
      <div class="input-group">
        <label>End age:</label>
        <input readonly type="number" [value]="stage.toAge" />
      </div>
      <div class="input-group">
        <label>Stage length:</label>
        <input readonly type="number" [value]="stage.stageLength" />
      </div>

      <div class="input-group">
        <div class="toggle-label">
          <label>Revenue:</label>
          <button class="toggle-button" (click)="toggleRevenueDetails(stage)">
            <fa-icon
              [icon]="
                revenueDetailsVisibility[stage.name] ? faCaretUp : faCaretDown
              "
            ></fa-icon>
          </button>
        </div>

        <input
          readonly
          type="number"
          [value]="stage.revenueModel.calculate()"
        />
      </div>
      <div
        *ngIf="revenueDetailsVisibility[stage.name]"
        class="toggle-item-container"
      >
        <div class="input-group">
          <label>Net Salary:</label>
          <input
            readonly
            type="number"
            [value]="stage.revenueModel.netSalary"
          />
        </div>
        <div class="input-group">
          <label>Capital Assets:</label>
          <input
            readonly
            type="number"
            [value]="stage.revenueModel.capitalAssets"
          />
        </div>
        <div class="input-group">
          <label>Passive Income:</label>
          <input
            readonly
            type="number"
            [value]="stage.revenueModel.passiveIncome"
          />
        </div>
        <div class="input-group">
          <label>Occasional Income:</label>
          <input
            readonly
            type="number"
            [value]="stage.revenueModel.occasionalIncome"
          />
        </div>
        <div class="input-group">
          <label>Dependents:</label>
          <input
            readonly
            type="number"
            [value]="stage.revenueModel.dependents"
          />
        </div>
        <div class="input-group">
          <label>Other Income:</label>
          <input
            readonly
            type="number"
            [value]="stage.revenueModel.otherIncome"
          />
        </div>
      </div>

      <div class="input-group">
        <div class="toggle-label">
          <label>Expenses:</label>
          <button class="toggle-button" (click)="toggleExpenseDetails(stage)">
            <fa-icon
              [icon]="
                expenseDetailsVisibility[stage.name] ? faCaretUp : faCaretDown
              "
            ></fa-icon>
          </button>
        </div>
        <input
          readonly
          type="number"
          [value]="stage.expensesModel.calculate()"
        />
      </div>

      <div
        *ngIf="expenseDetailsVisibility[stage.name]"
        class="toggle-item-container"
      >
        <div class="input-group">
          <label>Living Cost Per Month:</label>
          <input
            readonly
            type="number"
            [value]="stage.expensesModel.livingCostPerMonth"
          />
        </div>
        <div class="input-group">
          <label>Dependents:</label>
          <input
            readonly
            type="number"
            [value]="stage.expensesModel.dependents"
          />
        </div>
        <div class="input-group">
          <label>Purchase Fund:</label>
          <input
            readonly
            type="number"
            [value]="stage.expensesModel.purchaseFund"
          />
        </div>
        <div class="input-group">
          <label>Occasional Cost:</label>
          <input
            readonly
            type="number"
            [value]="stage.expensesModel.occasionalCost"
          />
        </div>
        <div class="input-group">
          <label>Maintenance Cost:</label>
          <input
            readonly
            type="number"
            [value]="stage.expensesModel.maintenanceCost"
          />
        </div>
        <div class="input-group">
          <label>Interest And Repayment:</label>
          <input
            readonly
            type="number"
            [value]="stage.expensesModel.interestAndRepayment"
          />
        </div>
        <div class="input-group">
          <label>Other Expenses:</label>
          <input
            readonly
            type="number"
            [value]="stage.expensesModel.otherExpenses"
          />
        </div>
      </div>
    </div>
    <div class="chart-container" [attr.id]="'chart-container-' + i"></div>
  </div>
</div>
