* {
  font-family: Arial, sans-serif;
}

.asset-container {
  display: flex;
  flex-direction: row;
  margin: 0 5vw;
  justify-content: space-between;
}

.title-container {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 20px;
}

.left-side-container {
  width: 42.5vw;
  background-color: #e5f6df;
  border-radius: 10px;
  display: flex;
  border: 1px solid green;
}

.right-side-container {
  width: 42.5vw;
  background-color: #e5f6df;
  border-radius: 10px;
  display: flex;
  border: 1px solid green;
}

form {
  width: 35%;
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.nav-tabs-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-tab {
  flex: 1;
}

.tab-content-container {
  padding: 20px;
  border: 1px solid #ccc;
}

.li-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  width: 250px;
  margin-left: 15px;
}

.li-input-container label {
  margin-bottom: 10px;
  margin-top: 15px;
}

.next-buttonpage1 {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
  margin-left: 1370px;
}

.next-buttonpage1:hover {
  background-color: #2980b9;
}
