<div class="title-container">
  <h1>Assets</h1>
</div>
<div class="asset-container">
  <div class="left-side-container">
    <form action="/" method="post">
      <label>Begin of the Plan:</label>
      <input type="number" required />

      <label>End of the Plan:</label>
      <input type="number" required />

      <button type="submit">OK</button>
    </form>
  </div>
  <div class="right-side-container">
    <form action="/" method="post">
      <label>Begin of the Plan:</label>
      <input type="number" required />

      <label>End of the Plan:</label>
      <input type="number" required />

      <button type="submit">OK</button>
    </form>
  </div>
</div>
