<div class="form-container">
  <form
    [formGroup]="assetsForm"
    class="form-fields-container"
    (ngSubmit)="submitForm()"
  >
    <div class="plan-info-container">
      <label
        >Begin Age of The Plan:
        <span class="required-label">(Required)</span></label
      >
      <input
        type="number"
        required
        formControlName="begin"
        (focus)="clearControlValue('begin')"
        (blur)="displayZero('begin')"
      />

      <label
        >End Age of The Plan:
        <span class="required-label">(Required)</span></label
      >
      <input
        type="number"
        required
        formControlName="end"
        (focus)="clearControlValue('end')"
        (blur)="displayZero('end')"
      />
    </div>
    <button type="submit" class="next-buttonpage1">Next</button>

    <div class="title-container">
      <h1>Assets</h1>
    </div>

    <div class="asset-container">
      <div class="side-container">
        <div class="nav-tabs-container">
          <mat-tab-group>
            <mat-tab label="Liquid Investment">
              <ng-template matTabContent>
                <div class="li-input-container">
                  <label>Cash</label>
                  <input
                    type="number"
                    formControlName="cash"
                    (focus)="clearControlValue('cash')"
                    (blur)="displayZero('cash')"
                  />
                </div>

                <div class="li-input-container">
                  <label>Stock</label>
                  <input
                    type="number"
                    formControlName="stock"
                    (focus)="clearControlValue('stock')"
                    (blur)="displayZero('stock')"
                  />
                </div>

                <div class="li-input-container">
                  <label>Bond</label>
                  <input
                    type="number"
                    formControlName="bond"
                    (focus)="clearControlValue('bond')"
                    (blur)="displayZero('bond')"
                  />
                </div>

                <div class="li-input-container">
                  <label>Precious Metal</label>
                  <input
                    type="number"
                    formControlName="preciousMetal"
                    (focus)="clearControlValue('preciousMetal')"
                    (blur)="displayZero('preciousMetal')"
                  />
                </div>

                <div class="li-input-container">
                  <label>Others</label>
                  <input
                    type="number"
                    formControlName="otherAssets"
                    (focus)="clearControlValue('otherAssets')"
                    (blur)="displayZero('otherAssets')"
                  />
                </div>
              </ng-template>
            </mat-tab>

            <mat-tab label="Real Estate">
              <ng-template matTabContent>
                <div class="li-input-container">
                  <label>Property Value</label>
                  <input
                    type="number"
                    formControlName="propertyValue"
                    (focus)="clearControlValue('propertyValue')"
                    (blur)="displayZero('propertyValue')"
                  />
                </div>

                <div class="li-input-container">
                  <label
                    >Property Value Increase Rate
                    <span class="required-label">(%)</span></label
                  >
                  <input
                    type="number"
                    formControlName="propertyValueIR"
                    (focus)="clearControlValue('propertyValueIR')"
                    (blur)="displayZero('propertyValueIR')"
                  />
                </div>

                <div class="li-input-container">
                  <label>Others</label>
                  <input
                    type="number"
                    formControlName="otherRealEstate"
                    (focus)="clearControlValue('otherRealEstate')"
                    (blur)="displayZero('otherRealEstate')"
                  />
                </div>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

      <div class="side-container">
        <div class="nav-tabs-container">
          <mat-tab-group>
            <mat-tab label="Liability">
              <ng-template matTabContent>
                <div class="li-input-container">
                  <label>Liability Value</label>
                  <input
                    type="number"
                    formControlName="liablityValue"
                    (focus)="clearControlValue('liablityValue')"
                    (blur)="displayZero('liablityValue')"
                  />
                </div>

                <div class="li-input-container">
                  <label
                    >Liability Value Increase Rate
                    <span class="required-label">(%)</span></label
                  >
                  <input
                    type="number"
                    formControlName="liabilityValueIR"
                    (focus)="clearControlValue('liabilityValueIR')"
                    (blur)="displayZero('liabilityValueIR')"
                  />
                </div>
              </ng-template>
            </mat-tab>
            <mat-tab label="Provision">
              <ng-template matTabContent>
                <div class="li-input-container">
                  <label>Provision Value</label>
                  <input
                    type="number"
                    formControlName="provision"
                    (focus)="clearControlValue('provision')"
                    (blur)="displayZero('provision')"
                  />
                </div>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </form>
</div>
