.header-container {
  display: flex;
  background-color: #90ee91;
  align-items: center;
  justify-content: center;
}

.header-container.mobile {
  min-height: 15vh;
}

.header-container.desktop-tablet {
  min-height: 10vh;
}

.app-name {
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}
