.header-container {
  display: flex;
  background-color: #90EE91;
  align-items: center;
  }
  
  .header-container.mobile {
    min-height: 15vh;
  }
  
  .header-container.desktop-tablet {
    min-height: 10vh;
  }

  .app-name{
    font-size: 20px;
    margin-left: 2vw;
    font-weight: bold;
  }
  
