.summary-title {
  margin-left: 32px;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.left-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid green;
  background-color: #e5f6df;
  border-radius: 10px;
  height: auto;
}

.input-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.input-group input {
  padding: 8px;
}

.ffchart {
  margin-top: 25px;
  width: 600px;
  height: 400px;
  display: block;
}

.button-container{
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 50px;
}

.inflation-form{
  margin-top: 50px;

}

.button-container button{
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button{
  background-color: #f39c12;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.required-label {
  color: red;
}